<nav>
<%= link_to 'Food',user_foods_path(current_user.id) %>
<%= link_to 'Recipes', user_recipes_path(current_user.id) %>
<%= link_to 'Add a recipe', new_user_recipe_path(current_user.id) %>
<%# <%= link_to %>
<%# <%= link_to %>
</nav>